body {
    background-color: rgba(251, 251, 248, 1);
}

.side-bar {
    position: absolute;
    float: left;
    top: 0px;
    left: 0px;
    background-color: rgba(26, 26, 26, 1);
    height: 200%;
    width: 25em;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 25%;
    margin-top: 2.5em;
    height: 10em;
    width: 10em;
}

.name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: White;
    position: inherit;
}

.socials {
    text-align: center;
    margin-left: 35%;
}

.links {
    text-align: center;
    background-color: gray;
    float: left;
    margin: 1%;
    width: 100%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.links a img { 
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 0.25em;
}

.links:hover {
    background-color: rgba(88, 128, 162, 1);
}

.pages {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: White;
    position: inherit;
    padding-top: 25%;
    padding-left: 10%;
}

.pages a {
    text-decoration: none !important;
    color: White;
}


.body {
    position: absolute;
    padding-left: 1.5%;
    padding-right: 5%;
    left: 25.5em;
}

.skills {
    float: left;
}

.examples {
    float: left;
    text-align: center;
    font-size: larger;
    height: 50%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5em;
}